/*
** Base styles
*/
html {
    font-size: 100%;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    @include font($primary-font, $regular);
    font-size: $rem-15;
    color: $primary-color;
    background: $primary-bg;
    overflow-x: hidden;
}
* {
    outline: 0 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:hover, &:focus, &:active, &:visited {
        outline: 0 !important;
    }
}
a {
    color: $primary-color;
    @include transition(0.4s);
    &:hover, &:focus {
        outline: 0;
        color: darken($secondary-color, 10%);
        text-decoration: none;
    }
}
ul,ol {
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 974px;
}