@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?eq20m2');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?eq20m2#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?eq20m2') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?eq20m2') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?eq20m2##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-check {
    &:before {
        content: $icon-check;
    }
}
.icon-square {
    &:before {
        content: $icon-square;
    }
}
