/* Styles for buttons */

.btn {
    font-size: 17px;
    font-weight: $bold;
    line-height: 52px;
    height: 52px;
    border: none;
    border-radius: 0;
    padding: 0 50px;
    outline: 0 !important;
    &.btn-primary {
        background: $primary-color;
        color: $primary-bg;
        &:hover {
            background: $secondary-color;
        }
        &:focus {
            box-shadow: none;
        }
        &:disabled {
            background: $primary-color;
        }
        &.disabled {
            pointer-events: none;
        }
    }
}