/* Styles for all forms and form-elements */

.wp-block-contact-form-7-contact-form-selector {
    .wpcf7 {
        max-width: 84.68%;
        .wpcf7-form {
            &.submitting {
                .wpcf7-submit {
                    pointer-events: none;
                }
            }
            .response-wrap {
                display: none;
                .wpcf7-response-output {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 40%;
                    width: 50%;
                    transform: translate(-50%, -50%);
                    background: $primary-bg;
                    box-shadow: 0 0 10px rgba($primary-font-color, 0.3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 20px;
                    margin: 0;
                    z-index: 1;
                }
            }
            hr {
                border-top: 1px dashed #949494;
                margin: 25px 0 45px;
            }
        }
    }
}

.form-row {
    margin: 0 -21px;
    &:last-child {
        background: red;
        .form-group {
            margin-bottom: 0;
        }
    }
    & > [class*=col-] {
        padding: 0 21px;
    }
    h2 {
        margin-bottom: 18px;
        margin-left: -3px;
    }
    h5 {
        margin-bottom: 41px;
    }
    .form-group {
        margin-bottom: 31px;
        .wpcf7-form-control-wrap {
            position: relative;
            display: flex;
            flex-direction: column;
            .wpcf7-not-valid-tip {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                font-size: 12px;
                padding: 0 15px;
            }
        }
        label {
            display: none;
        }
        .form-control {
            font-size: 15px;
            color: $primary-font-color;
            line-height: 1.33;
            background: $secondary-bg;
            height: 48px;
            border-radius: 0;
            @include add-border(1px, $border-color, 'all');
            box-shadow: none;
            padding: 12px 15px 16px;
            outline: 0;
            @include transition(0.3s);
            &:focus {
                border-color: $alt-font-color;
            }
            &::-webkit-input-placeholder {
                color: $primary-font-color;
            }
            &::-moz-placeholder {
                color: $primary-font-color;
            }
            &.wpcf7-not-valid {
                border-color: red;
            }
            &.country-select {
                width: 100%;
            }
            &.datepicker {
                background: transparent;
                cursor: pointer;
                &[readonly] {
                    background: transparent;
                }
                & + .icon {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    font-size: 18px;
                    color: $primary-font-color;
                    z-index: -1;
                }
            }
        }
        .select2-container {
            width: 100% !important;
            .select2-selection {
                &--single {
                    background: $secondary-bg;
                    height: 48px;
                    border-radius: 0;
                    @include add-border(1px, $border-color, 'all');
                }
                &__rendered {
                    font-size: 15px;
                    color: $primary-font-color;
                    line-height: 1.33;
                    height: 100%;
                    padding: 12px 15px 16px;
                }
                &__placeholder {
                    color: $primary-font-color;
                }
                &__arrow {
                    height: 100%;
                    top: 0;
                    right: 0;
                    width: 14px;
                    b {
                        left: 0;
                    }
                }
            }
            .select2-dropdown {
                background: $secondary-bg;
                border-color: $alt-font-color;
                border-radius: 0;
                &--above, &--below {
                    box-shadow: 0 18px 18px -14px rgba($primary-font-color, 0.3);
                }
                .select2-search {
                    &--dropdown {
                        padding: 8px 15px 4px;
                    }
                }
                .select2-results {
                    &__option {
                        font-size: 13px;
                        padding: 6px 15px;
                        @include transition(0.3s);
                        &--highlighted {
                            background-color: $primary-color;
                        }
                    }
                }
            }
            &--open {
                .select2-selection {
                    &--single {
                        border-color: $alt-font-color;
                    }
                }
            }
        }
        .qs-datepicker-container {
            font-size: 15px;
            font-family: $primary-font;
            width: 100%;
            background: $secondary-bg;
            border-radius: 0;
            border-top: none;
            border-color: $alt-font-color;
            .qs-controls {
                background: $primary-bg;
                padding: 6px;
                .qs-arrow {
                    border-radius: 0;
                    &.qs-left {
                        &:after {
                            border-right-color: $border-color;
                        }
                    }
                    &.qs-right {
                        &:after {
                            border-left-color: $border-color;
                        }
                    }
                }
            }
            .qs-squares {
                .qs-square {
                    font-size: 13px;
                    line-height: 2.2;
                    height: auto;
                    border-radius: 0;
                    @include transition(0.3s);
                    &:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active) {
                        &:hover {
                            background: $primary-color;
                            color: $primary-bg;
                        }
                    }
                }
            }
            .qs-overlay {
                background: rgba($alt-font-color, 0.8);
                color: $primary-font-color;
                .qs-overlay-year {
                    color: $primary-font-color;
                    border-color: $border-color;
                }
                .qs-submit {
                    font-size: 13px;
                    font-weight: $bold;
                    color: $primary-bg;
                    background: $primary-color;
                    text-transform: uppercase;
                    border-radius: 0;
                    border: none;
                    padding-left: 15px;
                    padding-right: 15px;
                    @include transition(0.3s);
                    &:hover {
                        background: $secondary-color;
                    }
                    &.qs-disabled {
                        background: $primary-color;
                    }
                }
            }
        }

        &.form-check {
            .wpcf7-form-control-wrap {
                display: block;
                width: 100%;
            }
            .custom-checkbox {
                display: block;
                width: 100%;
                .wpcf7-list-item {
                    display: block;
                    font-size: 0;
                    margin: 0;
                    & > label {
                        display: block;
                        position: relative;
                        margin: 0;
                        input[type="checkbox"] {
                            opacity: 0;
                            margin: 0;
                            visibility: hidden;
                            display: none;
                            &:checked + .wpcf7-list-item-label {
                                &:after {
                                    content: '#{$icon-check}';
                                    font-family: '#{$icomoon-font-family}';
                                    color: #40BE46;
                                }
                            }

                            &:disabled + .wpcf7-list-item-label {
                                opacity: 0.65;
                                &:before {
                                    background-color: rgba($border-color, 0.1);
                                    cursor: not-allowed;
                                }
                            }
                        }

                        .wpcf7-list-item-label {
                            position: relative;
                            display: flex;
                            cursor: pointer;
                            &:before, &:after {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                font-size: 24px;
                                color: $secondary-font-color;
                                line-height: 1;
                            }
                            &:before {
                                content: '#{$icon-square}';
                                font-family: '#{$icomoon-font-family}';
                                color: $border-color;
                            }
                            &::selection {
                                background: transparent;
                                color: inherit;
                            }
                            &::-moz-selection {
                                background: transparent;
                                color: inherit;
                            }
                            span {
                                &.label {
                                    font-size: 17px;
                                    color: $primary-font-color;
                                    line-height: 1.7;
                                    padding-left: 34px;
                                    &::selection {
                                        background: transparent;
                                        color: inherit;
                                    }
                                    &::-moz-selection {
                                        background: transparent;
                                        color: inherit;
                                    }
                                    a {
                                        display: inline-flex;
                                        font-weight: $bold;
                                        color: $primary-font-color;
                                        text-decoration: underline;
                                        &:hover {
                                            text-decoration: none;
                                        }
                                        &::selection {
                                            background: transparent;
                                            color: inherit;
                                        }
                                        &::-moz-selection {
                                            background: transparent;
                                            color: inherit;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .submit-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}