/* 
    Styles for all pages
*/

.single-page {
    &.single-home {
        padding: 79px 0;
        .formwrap {
            max-width: 974px;
            margin: 0 auto;
            &__inner {
                h1 {
                    color: $alt-font-color;
                    text-align: center;
                    & + .form-render {
                        margin-top: 56px;
                    }
                }
                .form-render {
                    position: relative;
                    background: $secondary-bg;
                    color: $primary-font-color;
                    box-shadow: 0px 4px 44px -1px rgba($primary-font-color, 0.07);
                    padding: 33px 66px 153px;
                    z-index: 1;
                    figure {
                        position: absolute;
                        bottom: 13px;
                        right: 11px;
                        width: 30.1%;
                        margin: 0;
                    }
                }
            }
        }
    }

    &.single-404 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .section-error {
            width: 100%;
            figure {
                max-width: 20vw;
                margin: 0 auto $rem-30;
            }
            .title {
                color: $alt-font-color;
                margin-bottom: $rem-30;
            }
        }
    }

    &.single-default {
        padding: 79px 0;
        .the-content {
            color: $primary-font-color;
            h1 {
                color: $alt-font-color;
            }
        }
    }
}