/* Styles for Typography and helpers */

// typography
h1 {
    @include font($primary-font, $bold);
    font-size: $rem-21;
    line-height: 1.33;
    margin: 0;
}
h2 {
    @include font($primary-font, $bold);
    font-size: $rem-21;
    line-height: 1.33;
}
h3 {
    @include font($primary-font, $bold);
    font-size: $rem-35;
    line-height: 1.33;
    text-transform: uppercase;
}
h4, h5 {
    @include font($primary-font, $regular);
    font-size: $rem-19;
    line-height: 1.316;
}
h6 {
    @include font($primary-font, $bold);
    font-size: $rem-16;
    line-height: 1.3;
}