/* Styles for Mobile view */
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 25px;
    }

    h2 {
        font-size: $rem-15;
    }
    h5 {
        font-size: $rem-14;
    }
    .single-page {
        &.single-home {
            padding: 49px 0 70px;
            .formwrap {
                max-width: 100%;
                padding: 0 25px;
                &__inner {
                    h1 {
                        & + .form-render {
                            padding: 32px 20px 138px;
                            margin-top: 35px;
                        }
                    }
                    .form-render {
                        figure {
                            bottom: -57px;
                            right: 50%;
                            transform: translateX(50%);
                            width: 57.6vw;
                            max-width: 216px;
                        }
                    }
                }
            }
        }
        &.single-404 {
            .section-error {
                figure {
                    max-width: 40vw;
                }
            }
        }
    }

    .wp-block-contact-form-7-contact-form-selector {
        .wpcf7 {
            .wpcf7-form {
                hr {
                    display: none;
                }
                .response-wrap {
                    .wpcf7-response-output {
                        width: 110%;
                    }
                }
            }
        }
    }

    .form-row {
        h2 {
            margin-bottom: 13px;
            margin-left: -1px;
        }
        h5 {
            margin-bottom: 28px;
        }
        .form-group {
            margin-bottom: 23px;
            .form-control {
                font-size: 13px;
                height: 41px;
                padding: 10px 13px 14px;
            }

            .select2-container {
                .select2-selection {
                    &--single {
                        height: 41px;
                    }
                    &__rendered {
                        font-size: 13px;
                        padding: 10px 13px 14px;
                    }
                }
            }

            &.form-check {
                margin-top: 6px;
                .custom-checkbox {
                    display: block;
                    .wpcf7-list-item {
                        & > label {
                            .wpcf7-list-item-label {
                                span {
                                    &.label {
                                        font-size: 12px;
                                        padding-left: 33px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .submit-wrap {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .ajax-loader {
                margin-top: 5px;
            }
        }
    }
}