/* Styles for Tablet view */

@media (max-width: 1200px) {
    .container {
        max-width: 90vw;
    }

    .single-page {
        &.single-home {
            .formwrap {
                max-width: 90vw;
            }
        }
    }

    .wp-block-contact-form-7-contact-form-selector {
        .wpcf7 {
            max-width: 100%;
            .wpcf7-form {
                .response-wrap {
                    .wpcf7-response-output {
                        width: 60%;
                        height: 30%;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .single-page {
        &.single-home {
            .formwrap {
                &__inner {
                    .form-render {
                        padding: 30px 42px 140px;
                    }
                }
            }
        }
    }
}